.flex-center {
  display: flex;
  justify-content: center;
}

#header-logo {
  padding-right: 8%;
}
#menu-item-with-logo {
  /* width: contain; */
  font-size: 1.2em;
  font-weight: 600;
}

.ui.secondary.pointing.menu .item {
  align-self: center !important;
  height: 100%;
  font-size: 1.2em;
  font-weight: 600;
}

/* Body Section */
#main-body-container {
  height: 50vh;
  margin-top: 40vh;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
}
.headshot {
  border-radius: 50%;
  height: 220px;
  width: auto;
  margin-bottom: 3%;
  margin-top: -37vh;
  box-sizing: border-box;
  border: 3px rgb(150, 150, 172) solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px;
  transition: transform 0.5s;
}

.headshot:hover {
  transform: scale(1.5);
}

#main-body-container > h5 {
  font-size: 20vh;
  text-align: center;
}
h5 {
  font-size: 4em !important;
}

#career-body-container {
  background-color: #eff7db;
  color: black;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-size: 4em !important;
  text-align: left;
  padding-top: 3% !important;
  padding-left: 5% !important;
  margin-bottom: 1% !important;
}

.intro-paragraph {
  margin: 10%;
  margin-left: 18%;
  margin-right: 18%;
  font-size: 1.2em !important;
  text-align: center;
  -webkit-animation: 10s ease 0s normal forwards 1 fadein;
  animation: 6s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro-arrow-down {
  margin-top: 4% !important;
  font-size: 2.3em !important;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

/* #career-body-container > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4em;
  text-align: left;
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 5%;
} */
.ui.move.reveal > .hidden.content > h3 {
  font-size: 1.7em !important;
  text-align: left;
}
.ui.move.reveal > .hidden.content > p {
  font-size: 1.3em !important;
  text-align: left;
}

/* To prevent run off in the career descriptions */
@media only screen and (max-width: 970px) {
  .ui.move.reveal > .hidden.content > h3 {
    font-size: 1.4em !important;
  }
  .ui.move.reveal > .hidden.content > p {
    font-size: 1em !important;
  }
}

.ui.move.reveal > .hidden.content {
  padding: 5% 10%;
}

.career-object-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.career-object-cover-slide {
  background-color: #eff7db;
  text-align: center;
  width: 70vw;
  padding-top: 5px;
}

.cover-image-career-object {
  width: 500px;
}

.career-object-divider {
  width: 15%;
  margin-top: 8%;
  margin-bottom: 5%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.career-section-resume-link {
  padding-bottom: 4%;
  text-align: center !important;
}
.career-section-resume-link > p {
  text-align: center !important;
}
.coding-section-divider {
  margin-top: 1%;
  margin-bottom: 6%;
}

/* Coding section */

#code-body-container {
  background-color: white;
  margin-bottom: 9%;
}

.secondary-heading-container {
  padding-left: 5%;
}
.secondary-heading-container > h2 {
  font-size: 2em !important;
}

.coding-project-name {
  text-align: left;
  margin-bottom: 4% !important;
}

.code-languages-container {
  height: 200px;
  margin-top: 2%;
}
.project-container {
  padding: 10px 5% !important;
  margin-top: 2% !important;
  margin-bottom: 10% !important;
}
i {
  font-size: 5em;
  margin: 2%;
}
h2 {
  text-align: left;
}
p {
  font-size: 1.2em !important;
  text-align: left;
}

.coding-project-icon {
  font-size: 1.3em !important;
}

.ui.button.active.primary:hover {
  background-color: black;
}

@media only screen and (max-width: 1130px) and (min-width: 767px) {
  .ui.button.active.primary {
    font-size: 0.8em !important;
  }
}

.technologies-used {
  text-align: left;
}

.publications-header {
  margin: 2%;
}

.coding-project-video {
  border: 2px outset rgb(198, 198, 198);
}

#keyboard-icon {
  font-size: 4em;
}
.words-title {
  font-size: 1.2em;
  margin: 1.4%;
  list-style-type: none;
  color: black;
}
.words-title:hover {
  color: rgb(7, 7, 157);
}

.quote.right {
  margin-left: 0.5%;
}
.quote.left {
  margin-right: 0.35%;
}
/* creative area */
#creative-body-container {
  padding: 20px 0px !important;
  background-color: #faeae7;
}
.creative-container {
  padding: 10px 5% !important;
  margin-bottom: 0% !important;
}
.creative-heading-holder {
  margin-top: 1.5%;
}

.tyso-description {
  margin-top: 1.7% !important;
  text-align: left;
  margin-bottom: 6%;
}
.iframe-container {
  height: 300px;
}
ul {
  text-align: left;
  font-size: 1.2em;
  line-height: 1.5;
}

.creative-object-divider {
  margin-top: 9%;
  margin-bottom: 3%;
}

.travel-video {
  border: 1px solid #acc6ff;
}

.travel-vid-description {
  font-weight: 900;
  text-align: center;
}
/* Footer */

#footer {
  /* height: 10vh; */
  background-color: rgb(63, 59, 59);
  font-size: 3em;
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-links {
  color: white;
}

.footer-link-container {
  margin-top: 20px;
}
