.flex-center {
  display: flex;
  justify-content: center;
}

#header-logo {
  padding-right: 8%;
}
#menu-item-with-logo {
  /* width: contain; */
}

.ui.secondary.pointing.menu .item {
  align-self: center !important;
  height: 100%;
}

#main-body-container {
  height: 95vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#career-body-container {
  background-color: rgb(209, 252, 240);
}

#career-body-container > h1 {
  font-size: 40px;
}

.career-object-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.career-object-cover-slide {
  background-color: rgb(209, 252, 240);
  text-align: center;
}

.cover-image-career-object {
  width: 500px;
}

.career-object-divider {
  width: 15%;
  margin-top: 5%;
  margin-bottom: 8%;
  border: 2px solid rgb(62, 103, 135);
  display: flex;
  justify-content: center;
}

/* Coding section */

#code-body-container {
  background-color: chartreuse;
}

.code-languages-container {
  height: 200px;
  margin-top: 2%;
}

i {
  font-size: 5em;
  margin: 2%;
}

/* creative area */
#creative-body-container {
  padding-top: 20px !important;
  background-color: rgba(0, 0, 255, 0.119);
}

.creative-heading-holder {
  margin-top: 2%;
}

.tyso-description {
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 7%;
}
